
body {
	background-color: slategray;
}

#gleis1, #signal1 {
	top: 50px;
}


#gleis2, #signal2 {
	top: 200px;
}

#gleis3, #signal3 {
	top: 350px;
}

#gleis4, #signal4 {
	top: 500px;
}

.disabled {
	cursor: not-allowed;
}

.train {
	position: absolute;
	height: 150px;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.travel-left-to-station.regio1 {
	animation-duration: 12s;
}

.travel-left-to-station.fern {
	animation-duration: 11s;
}

.travel-left-to-station.ice, .travel-left-to-station.shinkansen {
	animation-duration: 10s;
}

.travel-left-to-station.cybertruck {
	animation-duration: 5s;
}


.travel-station-to-right.regio1 {
	animation-duration: 14s;
}

.travel-station-to-right.fern {
	animation-duration: 11s;
}

.travel-station-to-right.ice, .travel-station-to-right.shinkansen {
	animation-duration: 10s;
}

.travel-station-to-right.cybertruck {
	animation-duration: 5s;
}


.regio1 {
	 content:url(img/FullTrain2.png);
}

.ice {
	 content:url(img/ICE_CAD_Proto_NoClass_WithRails.png);
}

.shinkansen {
	content:url(img/Shinkansn_Proto_2_Transparent.png);
}

.cybertruck {
	content:url(img/cybertruck.png);
}

.signal {
	position: absolute;
	width: 33px;
	margin-top: 75px;
}
.signal-green {
	content:url(img/signal/green.png);
}

.signal-rot {
	content:url(img/signal/red.png);
}

.transrapit {
		animation-duration: 3s;
}


.train-off {
    //display: none;
	opacity: 0.3;
}

.travel-left-to-station {
    display: block;
	opacity: 1;
	animation-name: travel-left-to-station;
	animation-timing-function: cubic-bezier(.02,.04,.3,1.02);
}

.travel-station-to-right {
    display: block;
	opacity: 1;
	animation-name: travel-station-to-right;
	
	// starting slow and rapidly stop
	//animation-timing-function: cubic-bezier(.66,0,1,1);
	animation-timing-function: cubic-bezier(.7,.14,.73,.56);
	
}


@keyframes travel-left-to-station {
  0%   {margin-left:-5500px; }
  100% {margin-left:-100px; }
}

@keyframes travel-station-to-right {
  0%   {margin-left:-100px; }
  100% {margin-left:7100px; }
}

